<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="2">
      <div>
        <h4>Pokój: {{room.roomName}}</h4>
        <h4>Aktualny scenariusz: {{room.level}} to implemented</h4>
<!--        <h4>Bohaterowie:</h4>-->
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let hero of room.heroes">
      <mat-card>
        <mat-card-title>
          {{hero.race}}
        </mat-card-title>
        <mat-card-subtitle>
          {{hero.heroName}} lvl:{{hero.level}}
        </mat-card-subtitle>
        <mat-card-actions>
          <button mat-raised-button (click)="showHeroDetails(hero.id)">Wyświetl szczegóły</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
