<div *ngIf="isUserHaveHero">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile colspan="3">
      <h4>{{hero.heroName}}</h4>
      <h4>Klasa: {{raceExport(hero.race)}}</h4>
      <p>Poziom: {{hero.level}}</p>
      <p>Dostępne punkty atutu: {{calculatePerkPoints(hero.progress)}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <h4>*Zarządzanie kartami*</h4>
      <button mat-stroked-button (click)="cardsManagement()">Karty</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <h4>*Zarządzanie przedmiotami*</h4>
      <button mat-stroked-button (click)="itemsManagement()">Ekwipunek</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <h4>*Zarządzanie atuatami*</h4>
      <button mat-stroked-button (click)="perksManagement()">Atuty</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="3">
      <div class="test">
        <app-ability-cards *ngIf="componentToShow == 'cards'" [hero]="hero" [room]="room"/>
        <app-items-management *ngIf="componentToShow == 'items'"/>
        <app-perks-management *ngIf="componentToShow == 'perks'"/>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="!isUserHaveHero">
  <form class="form" (ngSubmit)="onSubmitForm()">
    <p>Nie wybrałes jeszcze bohatra. W tym miejscu możesz go storzyć.</p>
    <mat-form-field>
      <mat-label>Imię bohatera</mat-label>
      <input matInput placeholder="Placeholder" name="heroName" required="true" [(ngModel)]="heroName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Klasa postaci</mat-label>
      <mat-select name="heroRace" required [(ngModel)]="heroRace">
        <mat-option *ngFor="let race of availableRaces" [value]="race">
          {{raceExport(race)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Ok</button>
  </form>
</div>
